{% extends 'base.html' %}

{% block title %}Create Playlist{% endblock %}

{% block content %}


<body>
    <form action='/playlist'>
        <h3>Search by Artist and Song Title</h3>
        Artist
        <input type='text' name='artist'><br>
        Song Title
        <input type='text' name='song'><br>
    <br>
    <form action ='/search_playlistafy'>
        <h3>Search by Genre</h3>
        Genre
        <input type='text' name='genre' id='genre' placeholder='genre'><br>
        <input type='submit' value='Make Playlist'>
    </form>
</body>
</html>



{% endblock %}