{% extends 'base.html' %}

{% block title %}Create Playlist{% endblock %}

{% block content %}


<body>
    <form action='/playlist'>
        <h3>Create Playlist by:</h3>
        <h4>Artist and Song Playlist</h4>
        Artist
        <input type='text' name='artist'>
    <br>
        Song Title
        <input type='text' name='song'>
    <br>
    <br>
        <h4>Genre Playlist</h4>
        Genre
        <input type='text' name='genre' id='genre'>
    <br>
        <input type='submit' value='Make Playlist'>
    </form>
</body>
</html>



{% endblock %}