{% extends 'base.html' %}

{% block title %}Render Playlist{% endblock %}

{% block content %}

<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="player"></div>
<!-- need to put jquery code here -->
<script>
  "use strict";

// function get ytResults() {
//   $.get('/video-info.json', changeVideoId ())
// }
  // var data = {{ data|tojson|safe }};
  // var data = JSON.parse(data);
  // var ytVideoId = data['videoId'];


  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  // code to dl API player
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  // variable name of the embedded video player
  function onYouTubeIframeAPIReady() {
    var js_data = {{ data|tojson|safe }};
    js_data = JSON.parse(js_data);
    console.log(js_data);
    var ytVideoId = js_data['video_id'];
    console.log(ytVideoId)
    player = new YT.Player('player', {
      height: '390',
      width: '640',
      // need to change video Id to a var 
      videoId: ytVideoId,
      // videoId: '60ItHLz5WEA',
      events: {
        'onReady': onPlayerReady,
        // tells the vido player to play as soon as it's ready
        'onStateChange': onPlayerStateChange
      }
    });
    }
// 7777777777777777
      // function cueVideoById() {
      //   player.cueVideoById({ videoId:'60ItHLz5WEA' })
      //   }
      // function loadVideoById() {
      //   player.loadVideoById({ videoId:'60ItHLz5WEA' })
      // }
// 7777777777777777
      // 4. The API will call this function when the video player is ready.
  function onPlayerReady(event) {
    event.target.playVideo();
  }
  // 5. The API calls this function when the player's state changes.
  //    The function indicates that when playing a video (state=1),
  //    the player should play for six seconds and then stop.
  var done = false;
  function onPlayerStateChange(event) {
    if (event.data == YT.PlayerState.PLAYING && !done) {
      setTimeout(stopVideo, 6000);
      done = true;
    }
  }
  function stopVideo() {
    player.stopVideo();
  }
  
</script>


{% endblock %}