{% extends 'base.html' %}

{% block title %}Render Playlist{% endblock %}

{% block content %}
<div class="thumb-player">
<div class="col-lg-12">
  <div class="playlist-heading">Current Playlist
    <div class="playlist-thumbnails">
      <ul>
        {% for i in range(7) %}
          <span><img id="{{ i }}" data-toggle="tooltip" data-placement="bottom" src={{ jinja_data['playlist'][i]['items'][0]['snippet']['thumbnails']['default']['url'] }} 
            title="{{ jinja_data['playlist'][i]['items'][0]['snippet']['title'] }}"></span>
        {% endfor %}
      </ul>

    </div>
  </div>
  <br>
  <br>
  <br>
</div>



<!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
<div id="player"></div>
</div>


<script>
  "use strict";

$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})

  // 2. This code loads the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  // code to dl API player
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
  // 3. This function creates an <iframe> (and YouTube player)
  //    after the API code downloads.
  var player;
  // variable name of the embedded video player
  function onYouTubeIframeAPIReady() {
    var js_data = {{ data|tojson|safe }};
    js_data = JSON.parse(js_data);
    console.log(js_data);
    var ytVideoId = js_data['playlist'][0]['items'][0]['id']['videoId'];
    console.log(ytVideoId)
    player = new YT.Player('player', {
      height: '390',
      width: '640',
      videoId: ytVideoId,
      events: {
        'onReady': onPlayerReady,
        // tells the vido player to play as soon as it's ready
        'onStateChange': onPlayerStateChange
      }
    });
    }

      // 4. The API will call this function when the video player is ready.
  function onPlayerReady(event) {
    event.target.playVideo();
  }
  // 5. The API calls this function when the player's state changes.
  //    The function indicates that when playing a video (state=1),
  //    the player should play for six seconds and then stop.
  var done = false;
  var count = 0;
  function onPlayerStateChange(event) {
    // if (event.data == YT.PlayerState.PLAYING && !done) {
    //   // setTimeout(stopVideo, 6000);
    //   // done = true;
    // }
    if (event.data == YT.PlayerState.ENDED) {
      console.log(event);
      if (count > 7) {
        count === 0;
      } else {
        count++;
      }
      var js_data = {{ data|tojson|safe }};
      js_data = JSON.parse(js_data);
      var nextVideoId = js_data['playlist'][count]['items'][0]['id']['videoId'];
      console.log(nextVideoId);
      event.target.loadVideoById(nextVideoId);
      event.target.playVideo();
      for (var i=0; i<7; i++){
        var selector = "#" + i.toString();
        var index = (count + i) % 7;
        var jpg_url = js_data['playlist'][index]['items'][0]['snippet']['thumbnails']['default']['url'];
        console.log(jpg_url);
        console.log(count);
        console.log(selector);
        $(selector).attr('src', jpg_url);
      };
      console.log(count);
    }
  }
  // function stopVideo() {
  //   player.stopVideo();
  // }
  // ##########################################################
  // Define some variables used to remember state.
var playlistId, channelId;

// After the API loads, call a function to enable the playlist creation form.
function handleAPILoaded() {
  enableForm();
}

// Enable the form for creating a playlist.
function enableForm() {
  $('#playlist-button').attr('disabled', false);
}

// Create a private playlist.
function createPlaylist() {
  var request = gapi.client.youtube.playlists.insert({
    part: 'snippet,status',
    resource: {
      snippet: {
        title: 'Test Playlist',
        description: 'A private playlist created with the YouTube API'
      },
      status: {
        privacyStatus: 'private'
      }
    }
  });
  request.execute(function(response) {
    var result = response.result;
    if (result) {
      playlistId = result.id;
      $('#playlist-id').val(playlistId);
      $('#playlist-title').html(result.snippet.title);
      $('#playlist-description').html(result.snippet.description);
    } else {
      $('#status').html('Could not create playlist');
    }
  });
}

// Add a video ID specified in the form to the playlist.
function addVideoToPlaylist() {
  addToPlaylist($('#video-id').val());
}

// Add a video to a playlist. The "startPos" and "endPos" values let you
// start and stop the video at specific times when the video is played as
// part of the playlist. However, these values are not set in this example.
function addToPlaylist(id, startPos, endPos) {
  var details = {
    videoId: id,
    kind: 'youtube#video'
  }
  if (startPos != undefined) {
    details['startAt'] = startPos;
  }
  if (endPos != undefined) {
    details['endAt'] = endPos;
  }
  var request = gapi.client.youtube.playlistItems.insert({
    part: 'snippet',
    resource: {
      snippet: {
        playlistId: playlistId,
        resourceId: details
      }
    }
  });
  request.execute(function(response) {
    $('#status').html('<pre>' + JSON.stringify(response.result) + '</pre>');
  });
}
  
</script>


{% endblock %}